[2019-11-18 20:23] octavonu opened #10 "Debug VSCode"
Hello,

You have written:
_For example, in VS Code switch to Debug view and launch one of the prepared cds run launch configurations._

I have started the debugger then I can see
Debugger listening on ws://127.0.0.1:47299
Debugger attached.
Waiting for the debugger to disconnect...

Unfortunately, I am not able to connect with chrome://inspect.

Can you please tell me what am I doing wrong?
Thank

[2019-11-19 20:39] chgeo commented on #10
This has been reported in SAP-samples/cloud-cap-nodejs-codejam#15.  Please see there for a better version of launch.json.

[2019-11-19 20:39] #10 closed

[2019-12-13 09:13] fwilhe opened #13 "Dead link "Add CDS extension to VS" in README"
The link "Add CDS extension to VS" leads to an error page.

[2019-12-13 10:55] #13 closed

[2019-12-13 10:56] chgeo commented on #13
Thanks for finding this.  I have fixed the link.

[2020-01-07 16:49] krisho007 opened #20 "Unable to build"
I cloned and I was trying to build using npm i. I always get the error as below.
![image](https://user-images.githubusercontent.com/6290790/71912533-b08ddb00-319b-11ea-9736-0f142b6e5df2.png)

I tried deleting node_modules folder and redoing npm install, but no luck.

[2020-01-08 14:44] timoschuetz opened #21 "Authorizations in service results in crashing"
While trying a few thing on the documentation on cap.cloud.sap page I created a new project using the "Getting Started in a Nutshell". I was able to push the project to my trial account with the documentation. As the documentation is somewhat unclear on a few points I have uploaded my code to Github - Maybe there is an issue in the structure of my project or my files? It states that there is "No s

[2020-01-10 09:35] chgeo commented on #21
Same as OSS issue 0020751294 0000013976 2020.
Let's continue there.

[2020-01-10 09:35] #21 closed

[2020-01-10 09:37] chgeo commented on #20
Error from the screenshot is `The batch file cannot be found`.  Never seen this before, and also cannot reproduce.  Can you do the operation again with npm's log level increased, like
`npm install -dd`

[2020-01-25 20:16] ssimsekler opened #23 "bookstore cds build fails"
Hi

When I run the bookstore app, the cds build fails with the following errors:

cds compile failed due to these errors...

 at srv\services.cds:9:49-55: Info: This select item replaces "author" from table alias "Products" (in view:"sap.capire.bookstore.CatalogService.Books"/query:1)
 at srv\services.cds:33:12-31: Error: Cannot find package module '@sap/capire-media'

------
Environment:
Windows

[2020-01-27 13:23] chgeo commented on #23
@CHERIANS can you take a look here, wrt to the `capire-media` dependency?

[2020-01-28 05:42] LakshmiCR commented on #23
Fixed.

[2020-01-28 05:42] #23 closed

[2020-02-06 13:19] superwangnan opened #26 "How can I run nodejs service locally and connect to Hana in cloud?"
Hi team,
For java project, we can use "mvn spring-boot:run -Dspring.profiles.active=cloud" to run local service based on remote Hana. But for a nodejs project how can we do the similar thing?
Thanks.

[2020-02-07 09:48] chgeo commented on #26
You can use the [profiles](https://cap.cloud.sap/docs/advanced/config#profiles) feature for package.json.  For example:
[code]
You can activate the profile by setting the environment variable `CDS_ENV` to `hana`.

[2020-02-08 05:35] superwangnan opened #27 "How to create a oData V2 service?"
Hi team
as I test, follow most of our tutorial, we will create a oData V4 service by default. Do we have a tutorial to create oData V2 service?
Thanks.

[2020-02-08 06:44] superwangnan commented on #26
Thanks got it. : )

[2020-02-08 06:44] #26 closed

[2020-02-10 07:28] chgeo commented on #27
Hi,

this has been asked quite a few times.  Please refer to the online resources, like [here](https://answers.sap.com/questions/12928430/cap-odata-v2-adapter.html) or [here](https://developers.sap.com/tutorials/cap-cloudsdk-2-v2-adapter.html)
(Google search for 'cap odata v2').

Regards,
Christian

[2020-02-10 07:28] #27 closed

[2020-02-10 07:29] chgeo commented on #20
Closing due to inactivity.

[2020-02-10 07:29] #20 closed

[2020-02-10 14:27] superwangnan commented on #27
Hi Chgeo
Thanks for reply. Yes, I found these articles before. But frankly, I don't know to do use it. What's confuse me is: it see need to rewrite the server.js script. but in our cap guide, we use the cds command generate most thing. If I need rewrite the server.js, how can I combine the server.js with generated code?

Another thing is: how to add java adapter in a java based app?

cap.cloud.sap

[2020-02-10 15:23] superwangnan commented on #27
Hi Chgeo,
I follow this [guide](https://github.com/gregorwolf/SAP-NPM-API-collection/tree/master/apis/cds-odata-v2-adapter-proxy) and create index.js under srv folder. when I run node srv/index, I got following error:
node srv/index.js
(node:74511) UnhandledPromiseRejectionWarning: Error: Invalid attempt to access '.entities' for service 'db' with no model loaded.
    at _model_get (/Users/i062905

[2020-02-21 16:31] luizcarlospedrosogomes opened #30 "Cannot find local module '../../../db/src/data/model"
index.cds
[code]
db structure
![image](https://user-images.githubusercontent.com/9791364/75051733-2d0b1d80-54ad-11ea-84ab-aea1d25902df.png)

srv structure
![image](https://user-images.githubusercontent.com/9791364/75051778-4318de00-54ad-11ea-8f61-eba06c08d49f.png)

access `.....br10.hana.ondemand.com/v2/`
 Error: `Cannot find local module '../../../db/src/data/model'\n`

[2020-02-24 09:51] chgeo commented on #30
Please add the steps to reproduce, or the link to the repository.

[2020-02-27 09:06] Puneet-devworks opened #32 "BUILD ERROR : npm ERR! @sap/capire-samples@ install: `(npm -s run lerna) && lerna bootstrap --hoist`npm ERR! Exit status 1"
![image](https://user-images.githubusercontent.com/53872672/75428491-4b21c380-596e-11ea-8e30-b56080710f88.png)

Please refer to this snapshot .
This error was faced after trying to build cloud-sap-samples after cloning git repo to web-ide :-

npm install> @sap/capire-samples@ install /sapmnt/C9J/xs/app_working/gcl0139/executionroot/cb1ec35f-570d-4b8e-ba16-680d1e4910c0/app/META-INF/.sap_java_buildp

[2020-02-27 09:14] Puneet-devworks commented on #32
I also tried to build and run on local machine using vs code which dumped with same error, please find the snap attached -

![image](https://user-images.githubusercontent.com/53872672/75429381-b4560680-596f-11ea-96ba-b58cc97fa69c.png)

[2020-02-27 09:18] chgeo commented on #32
It might be that the install script does work on Windows cmd shell.  Please try it with bash on your Windows machine.

[2020-02-27 14:15] Puneet-devworks commented on #32
Hi @chgeo
This doesnt seem to solve the problem as it seems I need to install node and sqlite separately in order to use bash command line (wsl) with win 10.
Please find the snapshot attached.
![image](https://user-images.githubusercontent.com/53872672/75453112-6a821600-5999-11ea-899c-56e3137f17a2.png)

[2020-02-27 14:18] David-Kunz commented on #32
Can you just execute `npx lerna bootstrap --hoist` instead?

[2020-02-28 08:07] Puneet-devworks commented on #32
Executed "npx lerna bootstrap --hoist"
Snapshot -
![image](https://user-images.githubusercontent.com/53872672/75522188-5db00180-5a2f-11ea-9fb7-c5ea14bf8e78.png)

This doesnt solve the problem too because I am receiving same error - "The system cannot find path specified" , when i am trying to build the project , using command - "npm i"

[2020-02-28 08:08] Puneet-devworks commented on #32
![image](https://user-images.githubusercontent.com/53872672/75522269-9a7bf880-5a2f-11ea-888c-89d6c49c7984.png)

[2020-02-28 10:01] David-Kunz commented on #32
Hi,

`npx lerna bootstrap --hoist` _replaces_ `npm i` in this case, so you don't need to execute `npm i` at all.
The lerna command seems to be successful, i.e. your packages are installed.
To be sure that everything is installed correctly you can also clean up before you bootstrap the files:

[code]

Best regards,
David

[2020-03-02 15:49] luizcarlospedrosogomes commented on #30
step 1:  npm install @sap/cds

step 2: create model.cds, solicitation.cds and index.cds

step 3: cf push app

this project using xs advance and are migrate to cds.

[2020-03-05 15:11] chgeo commented on #30
Ok, I see  2 pitfalls here:
- `cf push` needs to be executed with a compiled model, which is produced by `cds build/all`
- For the build to work w/o further configuration, you should stick to the [standard project layout](https://cap.cloud.sap/docs/get-started/projects#default-project-layouts), which means
  - have your DB model files flat in `db/` instead of in `db/src/data`
  - have your service

[2020-03-07 01:47] luizcarlospedrosogomes commented on #30
Yes

i am using https://github.com/gregorwolf/bookshop-nodejs

but this repository nodes server not working with cds.

[2020-03-09 08:15] chgeo commented on #30
In the repo, I see that mta deployment is [enabled](https://github.com/gregorwolf/bookshop-nodejs/blob/master/package.json#L32) for CF.  So calling
[code]
should do the trick.

For further questions, @gregorwolf should be able to help you as he is the owner of the repo.

[2020-03-19 08:43] wurst0815 opened #36 "'Getting Started in a Nutshell' documentation not working"
Hi guys,
when trying to follow the tutorial https://cap.cloud.sap/docs/get-started/in-a-nutshell I get an error after the step 'Defining Domain Models' when doing it all manually saying 'No service models found':
![image](https://user-images.githubusercontent.com/13557494/77047865-c69eef80-69c5-11ea-978a-09a0eb81152e.png)
So I guess there might be one step missing in the docs?

[2020-03-19 08:48] David-Kunz commented on #36
Hi,
This is the correct behaviour (apart from that weird [object Object] string) if you did not yet define any service entities.
This will happen in step `Defining Services`.

Best regards,
David

[2020-03-19 08:56] wurst0815 commented on #36
Ah... ok I see. Would suggest to mention that in the docs that this is the expected behaviour :-)

[2020-03-19 09:02] David-Kunz commented on #36
Hi,
Thanks for the suggestion! We will ship this info in the next release of Capire.
Best regards,
David

[2020-03-19 09:03] #36 closed

[2020-03-19 10:19] wurst0815 opened #37 "'Getting Started in a Nutshell' documentation -> minor thing"
The documentation mentiones the commands
`sqlite3 sqlite.db .dump`
`sqlite3 sqlite.db .tables`

which should be
`sqlite3 my.db .dump`
`sqlite3 my.db .tables`

because that is the given name in
`cds deploy --to sqlite:my.db`

[2020-03-19 10:46] chgeo commented on #36
The hint is actually in the [docs](https://cap.cloud.sap/docs/get-started/in-a-nutshell#defining-services), just slightly different...
[code]

[2020-03-19 11:12] wurst0815 commented on #36
Yeah, but people (like me) might don't continue reading after they receive an error.

Especially when there is other content between the error causing code and the solution for the expected error, in this case the optional model compiling part.

[2020-03-19 11:26] David-Kunz commented on #36
Hi,

In the upcoming version of `@sap/cds` there will be no `error` anymore, but rather the following:
[code]
So this would be less confusing, what do you think?

[2020-03-19 11:33] David-Kunz commented on #37
Thanks! I created a PR to fix that!

[2020-03-19 11:57] wurst0815 commented on #36
Yes, perfect.
Thank you.

[2020-03-19 13:34] chgeo commented on #32
We have removed lerna in the current master, so this should be obsolete.  Just check out the readme for the simplified setup.

[2020-03-19 13:34] #32 closed

[2020-03-23 09:49] mjza opened #39 "cannot install node modules"
I tried the following command in the sample folder to install node modules but I got the following error:

`c:\samples>npm i`

[2020-03-23 09:55] David-Kunz commented on #39
Hi Mahdi,
Did you set the correct `npm` repository?
[code]

Best regards,
David

[2020-03-23 09:57] mjza commented on #39
I ran the following command from [here](https://cap.cloud.sap/docs/get-started/):

`npm set @sap:registry=https://npm.sap.com`

[2020-03-23 09:58] mjza commented on #39
@David-Kunz I tried your command also. But still the error is there.

[2020-03-23 10:10] mjza commented on #39
@David-Kunz if I remove the following line from `bookshop/package.json` then the installation will be done. It just mentioned in the `bookshop` sample:

`"@capire/common": "^3.31.1",`

[2020-03-23 10:12] David-Kunz commented on #39
Hi,
I can reproduce this error, I'll have a look!
Best regards,
David

[2020-03-23 10:22] #39 closed

[2020-03-30 03:29] karthikraov opened #44 "Fiori preview for bookshop doesnot work"
I am able to run the application, and view the services and the odata output. But when I click on "..in FIori" it opens up a page like below :

![image](https://user-images.githubusercontent.com/6973239/77872454-9e847b80-7264-11ea-828d-4136d04bb244.png)

and I can see the below error in console :

`Failed to create cache for binding sap.ui.model.odata.v4.ODataListBinding: /Authors - TypeError: Can

[2020-03-30 07:21] chgeo commented on #44
Can you make sure you have defined some `UI.LineItems` for your model?  Otherwise Fiori will not show any data.  See the [fiori app](https://github.com/SAP-samples/cloud-cap-samples/blob/master/fiori/app/common.cds#L16-L24) for some examples.

[2020-04-03 10:16] wurst0815 opened #47 "cds.deploy keeps trying to seed data even if csv-file does not exist anymore"
I created a Books.csv file following the tutorial [https://cap.cloud.sap/docs/get-started/in-a-nutshell](url).
After deploying to hana, the table gets created, the data gets imported, everything works fine.
Then I wanted to see what happens if I alter the schema afterwards by doing a change on the entity, so I added a column 'country' to the 'Books' entity in schema.cds, added a value for 'country

[2020-04-05 15:38] jun-wu opened #48 "import csv data"
Hi,
I am following this exercise https://github.com/SAP-samples/cloud-cap-nodejs-codejam/tree/master/exercises/04
if I put schema.cds under db/src folder,  no csv files are imported during cds deploy.
it only works if I put schema.cds under db folder directly. is there any command option to help?
table are created in database no matter where the cds file is located.
is it expected like this?
Best

[2020-04-06 07:29] chgeo commented on #48
Hi,

this is expected behavior.  There is a [standard project layout](https://cap.cloud.sap/docs/get-started/projects#default-project-layouts) which recommends you putting `cds` files in `db/ ` directly.  Then, the deployment checks for `csv/` or `data/` folders _next_ to your model files, which means if you put the `cds` files in `db/src`, then `db/csv` wouldn't match.
Use `db/src/` should only b

[2020-04-06 07:29] #48 closed

[2020-04-06 07:47] chgeo commented on #47
Short answer: you can make it work by adding `--auto-undeploy` option  to the `cds deploy` command, which is translated to HDI deployer's [--auto-undeploy](https://help.sap.com/viewer/4505d0bdaf4948449b7f7379d24d0f0d/2.0.04/en-US/ebb0a1d1d41e4ab0a06ea951717e7d3d.html) option.

This is a safety net in order to prevent accidental data deletion in case a HANA file was deleted/moved/renamed.

[2020-04-06 07:47] #44 closed

[2020-04-06 07:49] chgeo commented on #37
This is fixed in the [documentation](https://cap.cloud.sap/docs/get-started/in-a-nutshell#deploying-persistent-databases).  Thanks for reporting.

[2020-04-06 07:49] #37 closed

[2020-04-06 07:50] chgeo commented on #30
Closing this one, assuming the issue got resolved.

[2020-04-06 07:50] #30 closed

[2020-04-07 08:43] muzijunyan opened #51 "Documentation "Hello World" - file name confusion"
https://cap.cloud.sap/docs/get-started/hello-world

In the section "Define a service", it's called the file "**say**.cds";
In the section "Run it", however it runs "cds serve **world**.cds".

It's confusion with the different file names. Based on the sample in the github: https://github.com/SAP-samples/cloud-cap-samples/tree/master/hello, the preferred file name should be aligned to "**world**.cds

[2020-04-07 08:47] David-Kunz commented on #51
Dear Qun,

Thanks for pointing that out, I'll fix this in the newer version of capire.

Best regards,
David

[2020-04-07 08:50] #51 closed

[2020-04-07 14:04] wurst0815 commented on #47
But `--auto-undeploy` deleted the content of my table (I guess it dropped and re-created the table).
I want to initially feed the table with data from a csv. But only ONCE.
Afterwards I want to be able to e.g. add properties to my entity and deploy again WITHOUT importing the csv file again which would overwrite all possible data changes that may have occured.

In other words how can I alter the d

[2020-04-08 08:44] chgeo commented on #47
From what I know, the `hdbtabledata` deployment does not offer this.  'Only-once deployment' is also often a questionable strategy because with this you would have data records w/o a clear 'lifecycle owner'.  What if in the future you want to update the data again?   Shall the customer be allowed to update the data?

For compatible model changes (column added, type prolonged), data is kept untouch

[2020-04-08 14:01] wurst0815 commented on #47
For me as an application developer this is how I am used to develop tools. I seed my db with initial data (in the bookstore example, I add my inventory of books), and then I go live with my app. So my customers place orders, and the stock amount of my books change.
Then, maybe a week later, I decide to add the ISBN no to the book entity. So I add this property in the schema.cds file.

Now, when I

[2020-04-09 16:06] Sygyzmundovych opened #53 ""ERR! Could not install from "../common" as it does not contain a package.json file." for cf push -f gen/srv"
I cloned the repo and did `cds watch bookshop`. Opened `http://localhost:4004` -- all good.

Then followed only https://cap.cloud.sap/docs/advanced/deploy-to-cloud to deploy to the Bookshop example to my HDI in SCP Trial.

But in step https://cap.cloud.sap/docs/advanced/deploy-to-cloud#deploy-using-cf-push the command
[code]
failed:
[code]
Indeed, there is no folder `common` under the `gen`, while

[2020-04-09 16:10] Sygyzmundovych commented on #53
And while `cf push -f gen/db` finished Ok, I see that tables `SAP_COMMON_CURRENCIES` and `SAP_COMMON_CURRENCIES_TEXTS` in my HDI schema are empty. I assume they should be populated from `common/data`?

[2020-04-14 13:01] chgeo commented on #53
The models from `../common` are already compiled into the effective model file in `gen/srv/csn.json`, so this dependency is actually not needed on CF.  However, as the node.js buildpack always does an `npm install`, this fails.  Not sure here about the proper solution...

[2020-04-16 13:13] ghiblin opened #54 "sap/fe/AppComponent is deprecated"
When I launch the fiori apps, a message appears saying that This class of the AppComponent is deprecated, please use "sap.fe.core.AppComponent" instead.

[2020-04-16 13:22] #54 closed

[2020-04-16 13:22] chgeo commented on #54
Thanks for reporting!  I have fixed the usage of the deprecated component.

[2020-04-22 13:55] chgeo commented on #47
I see.  So the point here is that you want to import data that
- is controlled by the application user (typically master data like the book catalog)
- rather than data controlled by the application provider/developer (typically configuration data).

The csv import is best suited for the second case of config data, where every new version of the application may update the data as defined by the app

[2020-04-23 07:38] wurst0815 commented on #47
Okay... this is drawing a completely different picture. Now that you've explained the intention of the csv import, I can understand the approach and the idea behind it.

You just wanted to showcase in the bookshop example, that it is possible to import data using the csv-files located in a predefined folder structure.

BUT using books and authors in the sample code (which is application content an

[2020-04-23 08:30] chgeo commented on #47
@danjoa FYI, discussion on how to seed non-configuration data into applications.  The way we treat books and authors the same as e.g. languages is indeed misleading, because this master data that should be imported through a different channel (dedicated import API) and by a different persona (the content admin, not the deployer).
What do you think about a generic REST/OData service that takes that

[2020-04-23 09:28] hitesharora2 opened #57 "mismatch of Db schema and test data"
there  is some mismatch of declared db schema and test data CSV files leading to error for "No Column found ... "   in Week 1 unit 4 bookshop project

[2020-04-23 09:35] chgeo commented on #57
Thanks for reporting this.
Can you add the complete error information?

[2020-04-24 08:58] fourmatrix opened #58 "Server will crash when query with filter like: $filter=false and age ge 12"
entity:
[code]
service:
[code]
query:

[http://localhost:4004/test/Foo?$filter=false](http://localhost:4004/test/Foo?$filter=false)
[http://localhost:4004/test/Foo?$filter=age ge 12](http://localhost:4004/test/Foo?$filter=age%20ge%2012)
[http://localhost:4004/test/Foo?$filter=false or age ge 12](http://localhost:4004/test/Foo?$filter=false%20or%20age%20ge%2012)
query 1 and 2 are right, but 3 with

[2020-04-24 09:29] chgeo commented on #58
@David-Kunz can you dispatch this?

[2020-04-24 09:48] David-Kunz commented on #58
Hi,
Thanks for pointing that out.
I don't understand the filter in
`http://localhost:4004/test/Foo?$filter=false`.
What is this supposed to filter?

Anyway, the server should not crash because of that.

Thanks again and best regards,
David

[2020-04-24 10:17] fourmatrix commented on #58
Hi David,

We call the OData service with SAP UI5 ODataModel, when we add filter like:
`
var timeFilter=new Filter({filters:crossTimeFilter,and:false});
`

In some conditions, it will send request with parameter like ` $filter=false `,  the filter is generated by UI5 automatically, I think it's a valid filter, actually,
`http://localhost:4004/test/Foo?$filter=false` does not cause problem.

Best r

[2020-04-24 10:29] David-Kunz commented on #58
Hi,

Yes, but what is it supposed to do? I would expect the server to throw an error for this.

Best regards,
David

[2020-04-24 10:31] fourmatrix commented on #58
Hi David,
Add one more condition, for example :
http://localhost:4004/test/Foo?$filter=false or age ge 12

You can get the error.

Best regards,

[2020-04-24 13:12] David-Kunz commented on #58
Yes,
But what's the meaning of `$filter=false or age ge 12`? It doesn't make any sense.

[2020-04-24 13:51] David-Kunz commented on #58
Ok.. it will be fixed in the new version. Then we allow `false` which will directly translated to `false` in the SQL where clause. Note: This is not supported on SAP HANA.

[2020-04-24 14:23] fourmatrix commented on #58
Hi David,

I don't think `$filter=false or age ge 12`  make any sense,  just found some coding in UI5  will create this query filter, maybe it's a bug,  but it leads to crash, if it's invalid and we don't support this kind of filter, an exception or error would be better, the user will know that there are bugs in his coding.

Best regards

[2020-04-27 10:47] sbarzaghialteaup opened #59 "Author name instead of the ID?"
Hi,

In the manage books app is possible to show the name of the Author instead of the id?
![image](https://user-images.githubusercontent.com/51169423/80363814-10aca800-8885-11ea-9f64-5f82c593a72b.png)

Thank you

Regards,
Sam

[2020-04-27 14:43] #59 closed

[2020-04-27 14:46] chgeo commented on #59
Thanks for catching this.

I have fixed this in #60 with some `UI.TextArrangement` magic of Fiori.  Not an expert there, but with the help of [CAP docs](https://github.wdf.sap.corp/pages/cap/cds/odata-annotations#annotating-annotations) (slightly meta, though) and and [old sample](https://github.com/SAP-samples/cloud-sample-spaceflight-java/blob/859202a90c088739154fb7c4ab02c9a4229ae1c3/srv/fiori-a

[2020-04-27 23:11] sbarzaghialteaup commented on #59
WOW! Much better :-)

Thank you

[2020-04-28 22:35] cdssupernova commented on #57
[ERROR] Couldn't find a CDS model for: schema.cds in: /home/user/projects
    at cds.load (/home/user/.node_modules_global/lib/node_modules/@sap/cds-dk/node_modules/@sap/cds/lib/models/load.js:15:39)
    at Object.compile (/home/user/.node_modules_global/lib/node_modules/@sap/cds-dk/node_modules/@sap/cds/bin/compile.js:120:21)
    at Module.exports (/home/user/.node_modules_global/lib/node_modules

[2020-04-28 23:17] cdssupernova commented on #57
Looks like this is because of the error at below line:
(Error Msg - Cannot find package module '@sap/cds/common'CDS(file-unknown-package))

using { Currency, managed } from '@sap/cds/common';

In test project structure/setup node_modules folder is missing. In my local system setup it works fine.

[2020-04-29 03:47] ChristianAyotteRizing commented on #53
Hi @chgeo , is there any update on this?  I have been getting the exact same error as @Sygyzmundovych

I was able to get past the initial error by removing the ../common dependency (and adding @sap/hana-client to the /bookshop app.), but then when I try to /browse Books, I get:

 2020-04-28T20:44:12.99-0700 [APP/PROC/WEB/0] OUT > READ Books { '$count': 'true', '$skip': '0', '$top': '30' }
   2020-

[2020-04-29 07:50] chgeo commented on #57
This looks like you executed the command in the wrong folder.  `cd` inside the `bookshop` folder (or whatever the app root folder is).

[2020-04-29 07:58] chgeo commented on #53
Yes, that's a workaround for the missing dependency

Good!

You can check the application log where it says `connect to...` to which DB it wants to connect.  You maybe read `undefined` there, which indicates a configuration error.
I remember the current version has a bug where the `kind:sql` in the package.json is not properly resolved to `hana` on Cloud Foundry, which would explain the issue.  A

[2020-04-29 08:41] chgeo commented on #53
The new version 3.34.1 of `@sap/cds` is published.  Please use this one with the `sql` configuration.

[2020-04-29 15:40] ChristianAyotteRizing commented on #53
Thanks for your help so far @chgeo - I'm no longer seeing the "Cannot read property 'schema' of undefined" error when trying to read from /browse/Books. However, I am seeing a consistent problem with reading entities from the CDS API in nodejs: that is, in all exported service implementations, cds.entities and/or db.entities (after connecting to database) show as undefined at runtime. I'm seeing t

[2020-04-29 16:36] ChristianAyotteRizing commented on #53
Also, is there documentation for how to deploy the fiori/app contents to cloud-foundry? Should we use html5-app-deployer?

[2020-04-29 19:43] pablolaurin opened #62 "An error occurred during serialization of the entity collection"
I think this line:
https://github.com/SAP-samples/cloud-cap-samples/blob/cc0be09341e86e206410bed30bd1d01e07a27a40/packages/bookshop/srv/admin-service.js#L18

Sholud be:

`items.forEach (item => ordersByID [item.parent_ID] .total += parseFloat(item.netAmount))`

Otherwise, i get the serialization error when browsing Orders entities:

`
<error>
<code>null</code>
<message>
An error occurred during se

[2020-04-30 00:24] ChristianAyotteRizing commented on #53
After a bit of digging I found the service implementations (cat-service.js, admin-service.js and orders-service.js) work when deployed to CF if the API call to cds.entities explicitly includes the namespace.

i.e.,

[code]
or

`const { Books } = cds.entities('sap.capire.bookshop')`

Is this the correct approach?

[2020-04-30 12:42] pablolaurin commented on #62
I ran into this issue when following the demo of unit 4:

https://open.sap.com/courses/cp7/items/772GxTuFOi5Kk7PZ8SJvKK

I noticed the problem after deploying to SAP HANA.

For Unit 5, before following the demo, I deleted all the code and cloned the same branch.
Now, I can't reproduce the issue anymore.
I'm using in-memory SQLite at this point. I should deploy to HANA again to see if I can reprodu

[2020-04-30 12:42] #62 closed

[2020-04-30 17:41] danjoa commented on #47
Yes we need something like this anyways to feed in customer data. Was also requested by stakeholder projects → CVS upload endpoints with generic or custom handlers to store the data.

Regarding the feature of cds.deploy importing content from `./data`: This is indeed meant to fill a newly created database with _initial_ data (also always documented like that) and we intentionally do not make assum

[2020-04-30 22:17] sbarzaghialteaup opened #63 "Expand on draft enabled entity"
Hi,

I have a problem using TextArrangement if the associated entity is draft enabled.

Scenario:
[code]

I edit the "Systems" entity with Fiori then I use the value help on the "server" field, when I close the value help I get the ID instead of the name:
![image](https://user-images.githubusercontent.com/51169423/80763392-b474ad00-8b3e-11ea-893f-cc3b8d392d29.png)

Investigating I found that the g

[2020-05-01 00:12] mtecik opened #64 "Open SAP Building Applications with SAP Cloud Application Programming Model"
hi, during week 2 unit 2 and 3 is not created in my application cloud platform in unit 2 product directory and in unit 3 test directory. Why ?

installation has run and finished. for unit 2
installation completed but not finished. Un
git clone https://github.com/sap-samples/cloud-cap-samples projects/cloud-cap-samples -b openSAP-week2-unit3
cd projects/cloud-cap-samples

user: projects $ git clone

[2020-05-01 00:31] sbarzaghialteaup opened #65 "Annotation for DataFieldWithUrl"
Hi,

The annotation for DataFieldWithUrl in Overview Pages is:

[https://sapui5.hana.ondemand.com/#/topic/65731e6b823240398e33133908efdaa1](https://sapui5.hana.ondemand.com/#/topic/65731e6b823240398e33133908efdaa1)
[code]

Is this possible with cds?

Thank you and Best Regards

[2020-05-01 16:14] danjoa commented on #53
Both are equivalent (assumed in the second case primary db has been connected, which usually happens on bootstrapping). `cds` acts as a shortcut to connected primary db, which is accessible thru `cds.db` and will be exactly the cached service object you get from subsequent invocations of `await cds.connect.to('db')`

[2020-05-03 01:12] mtecik opened #67 "this course is not for the faint of heart but for those who are already involved with java and cloud"
it is not to understand what is meant here. this time the course is absolutely not for rent but for people who have done this course x times. with this installation i do not understand how to use CF LOGIN. why is this not explained to BSP? i will continue without demos. You probably think we are magicians and understand your thoughts from a distance. watch the video yourself. see how fast the demo

[2020-05-03 01:21] mtecik opened #68 "this course is for those who are already involved with java and cloud"
it is not to understand what is meant here. this time the course is absolutely not for rent but for people who have done this course x times. with this installation i do not understand how to use CF LOGIN. why is this not explained to BSP? i will continue without demos. You probably think we are magicians and understand your thoughts from a distance. watch the video yourself. see how fast the demo

[2020-05-03 18:39] danjoa commented on #67
May I ask to respect at least a minimum of behavior in github. This is not Facebook or instagram

[2020-05-03 18:39] #67 closed

[2020-05-03 18:39] danjoa commented on #68
Dito

[2020-05-03 18:39] #68 closed

[2020-05-03 21:52] shkwaseem86 opened #69 "issue with @sap/cds/common in Visual Studio"
I am using Visual Studio for SAP Cloud Application programming.
I get error with below statement , it says "Cannot find package module '@sap/cds/common'". Can anyone help me with this?

using { sap } from '@sap/cds/common';

[2020-05-04 15:15] Bollerd opened #70 "Image Resources pointing to SAP internal Server"
For Week 3, Unit 2 the image URLs used in the project are pointing to the github server located at sap.corp network domain.

Please add images that can be loaded from public URLs

Thanks

[2020-05-04 15:26] alteraugem opened #71 "Wrong resource paths, no creation of new "Products""
cloud-cap-samples/packages/officesupplies/db/csv/sap.capire.officesupplies-Products.csv (Branch openSAP-week3-unit2

1.) The paths to the images in [officesupplies/db/csv/sap.capire.officesupplies-Products.csv](https://github.com/SAP-samples/cloud-cap-samples/blob/openSAP-week3-unit2/packages/officesupplies/db/csv/sap.capire.officesupplies-Products.csv) point to an SAP internal location. They can'

[2020-05-04 23:05] bask-alur-gh opened #72 "Says SQLite needs to be installed & Prompts to install it every time!"
Get a prompt to install SQLite in every session of mine!  (This is happening since Week2 tutorials). Here are the Steps:
1) Clicked SQLTools icon on the IDE, it shows "No Connections.  Click here to add one" (but we did have a datasource configured and used it before!)
2) Checked File>Preferences>Sqltools...shows the connection settings previously entered.
3) Clicked 'Connect' on the status bar of

[2020-05-05 10:30] chgeo commented on #69
Please make sure to do an `npm install` in the root level of the project.

[2020-05-05 10:30] #69 closed

[2020-05-05 10:39] chgeo commented on #71
@harinigunabalan can you check the image URLs?

For the second question it would be good to know what the error on the server side was.  Check the console where you started the application.

[2020-05-05 10:40] chgeo commented on #70
Thanks for reporting. We will handle this in #71

[2020-05-05 10:40] #70 closed

[2020-05-05 10:55] chgeo commented on #64
Trying to guess what you mean here.  Different units of the course need different sample code, e.g. some need the 'Products' folder, some not.  The way this is accomplished is through Git branches.  For most units there is a dedicated branch that you would need to checkout in order to get the correct content.  See the video descriptions where the link to the correct branch for each unit is mention

[2020-05-05 10:55] #64 closed

[2020-05-05 10:58] chgeo commented on #63
@johannes-vogel can you take this, or someone from your team?

[2020-05-05 10:58] #57 closed

[2020-05-05 11:02] chgeo commented on #65
@ElenaOresharova, can you answer this?

[2020-05-05 11:15] Vest commented on #58
**$filter** requires a simple boolean expression, so in theory **$filter=false** should be valid. E.g. this URL works as expected: https://services.odata.org/TripPinRESTierService/People?$filter=false

[2020-05-05 11:18] David-Kunz commented on #58
Hi @Vest,

Yes that's true, but it doesn't make any sense to send such requests.

Anyway, we will support those filters in the newest version of `@sap/cds`.

Best regards,
David

[2020-05-05 11:18] #58 closed

[2020-05-05 11:22] ShimonBenYair commented on #72
This issue need to be solved when this PR: https://github.com/mtxr/vscode-sqltools/pull/554
will be merged

[2020-05-05 12:34] alteraugem commented on #71
@chgeo Nothing in the backend, only the frontend says "Navigation is currently not possible because there are still entries that are not yet synchronized to the backend"

[2020-05-05 12:56] sbarzaghialteaup commented on #71
Are you running with `cds run`? Try using `cds watch`

(the message "Navigation is currently not possible because there are still entries that are not yet synchronized to the backend" seems caused by the missing database connection, running with --inmemory solve)

[2020-05-05 15:07] mtecik commented on #64
Hi,

vielen für das Antworten und auch dank für die Zusammenstellung des Kurses.
ich habe bisher nirgends wo gelesen das ich jedes Mal das geklonte löschen soll?

Die Beispiele habe ich bereits mitgeteilt als JPG.

Hier noch ein Beispiel. Week 2 Unit 4

Bei mir wird dies angezeigt.

Aus video

Wie soll ich weitermachen, wenn ich etwas anderes angezeigt bekomme. Ich tippe es auch gerne ab, jedoch f

[2020-05-05 16:08] bask-alur-gh commented on #72
Amazing super fast attempt to resolve this issue and reply, so thanks a lot first!  The issue persists at this time, I tried it just now and still asks to install SQLite and after installing it works fine (same as steps 1-5 above).  I'll retry after 1 day.  Thanks again.

[2020-05-06 10:47] johannes-vogel commented on #63
@chgeo @sbarzaghialteaup We'll investigate and let you know.

[2020-05-08 14:47] mtecik commented on #64
Hallo,

Trotz so erstellt wie beschrieben, bekomme ich diesen Fehler

Bei der Konfiguration kam es nicht zu einem Fehler.

Können Sie mir weiter helfen ?

Herzliche Grüße
Mustafa Tecik
Poststr.49
71384 Weinstadt

Tel.  : 07151 6041866
Mobil : 0171 8364466

Von: Christian Georgi
Gesendet: Dienstag, 5. Mai 2020 12:56
An: SAP-samples/cloud-cap-samples <cloud-cap-samples@noreply.github.com>
Cc: mtecik

[2020-05-08 18:24] mtecik opened #76 "wee3 unit 4"
hi,
on Building Applications with SAP Cloud Application Programming ModelChristian Georgi
Week 3 unit 4 -  I have found the problem service offering 'hana' not
after the input - cf create-service hana hdi-shared bookshop-db-hdi-container -
there was no error before that.

best regards
![Bild1](https://user-images.githubusercontent.com/64591225/81436525-ef439a00-9169-11ea-8940-a0e7409c65d0.jpg)

[2020-05-12 13:38] sfdfklskldf opened #77 "How to setup the Fiori part of the demo apps?"
As you see in the screenshot the SAP Business Application Studio points to a different server for the SAPUI5 files. I used the example from here: https://github.com/SAP-samples/cloud-cap-samples/tree/openSAP-week3-unit1

Is there a way to serve the UI5 libs from the cloud instance?

![grafik](https://user-images.githubusercontent.com/9265604/81698538-72186d80-9466-11ea-9aa2-c4e82408b7c3.png)

[2020-05-12 14:43] chgeo commented on #77
What do you mean here?  The URL https://sapui5.hana.ondemand.com/resources/sap-ui-core.js is to my knowledge the canonical address of SAP UI5.

Anyways.. this looks like a browser issue, i.e. the `net::ERR_BLOCKED_BY_CLIENT` error is caused by your _client_ network, not by the Studio.
I can successfully open the URL above in my browser.  Doesn't this work for you?

@offer8: have seen this before?

[2020-05-12 14:53] offer8 commented on #77
Nope, @amiramw do familiar with this one?

[2020-05-12 15:19] sfdfklskldf commented on #77
@chgeo The Fiori App is served by the trial account and SAP Business Application Studio as in the videos. But if I try to access the Fiori part I got this error in the browser. Because the browser blocks loading the URL because the URL is not from the same source. So I have a normal chrome browser. Would be better the resources of SAPUI5 are served from the cloud (same url) as it is done with WEB

[2020-05-13 07:23] chgeo commented on #77
I see that the SAP UI5 server sends `access-control-allow-origin: *` for the resource, so this can't be a CORS issue (if this is what you are suggesting).

We also have not heard this issue from other users.

Some [resources](https://www.keycdn.com/support/how-to-solve-err-blocked-by-client) out there indicate that ad blockers could cause `net::ERR_BLOCKED_BY_CLIENT`.  Is there anything like this

[2020-05-13 08:57] ElenaOresharova commented on #65
Yes, it is possible. The declaration, however, is not really straightforward. To get the annotation you mentioned above you have to declare the following in your cds model:

[code]

[2020-05-13 09:31] charbelkisso commented on #76
if you are running on trial account you should use another service offering called hanatrial instead of hana

[2020-05-13 10:47] sbarzaghialteaup commented on #77
Hi,

I had a fiori elements app running locally on my pc without problems up to yesterday.

This morning CORS error on this single file:
"https://sapui5.hana.ondemand.com/shells/sandbox/fioriSandboxConfig.json".

All the resourses return with"access-control-allow-origin: *" except fioriSandboxConfig.json.
But now the problem changed, 404 on fioriSandboxConfig.json file instead of CORS error.

So I

[2020-05-13 11:11] sbarzaghialteaup commented on #77
No problems using release 1.76.0:
https://sapui5.hana.ondemand.com/1.76.0/resources/sap-ui-core.js

[2020-05-13 13:04] sbarzaghialteaup commented on #77
Another fiori elements app generated with webide works.

It use the component sap.suite.ui.generic.template.ListReport instead of sap.fe.templates.ListReport
I cannot find documentation about sap.fe.templates.ListReport :-)

[2020-05-13 17:25] sbarzaghialteaup commented on #65
Hi,

The generated annotation is perfect, however fiori elements seems to have problems rendering the url property, always render "null", I think this is not a cds problem.

Just to share, this cds annotation (same annotation for url and for value properties):
[code]
I think perfect edmx:
[code]
Render this, look at value and link:
![image](https://user-images.githubusercontent.com/51169423/818444

[2020-05-14 06:55] sfdfklskldf commented on #77
You are right it was something in Chrome. Looks like the Privacy Badger had issues with that. https://privacybadger.org/ Normally I do not notice any issues with that plugin at all.

Sorry for that, but maybe someone else will have this issue as well.

[2020-05-14 06:56] chgeo commented on #77
Sure.  Good to know it's working now.

[2020-05-14 06:56] #77 closed

[2020-05-14 19:06] chgeo commented on #72
Closing this one, assuming issue is solved.

[2020-05-14 19:06] #72 closed

[2020-05-15 00:11] mtecik opened #83 "week4 Unit 4"
week4 Unit 4
in the demo the page of the instructor in the attachment,
![WEEK4-U4-1](https://user-images.githubusercontent.com/64591225/81997815-2249ca00-9651-11ea-979d-b0933d5fe163.JPG)
![WEEK4-U4-myLocal](https://user-images.githubusercontent.com/64591225/81997819-237af700-9651-11ea-9092-e441899382da.JPG)

week4 Unit 4
in the demo the page of the docent in the facility WEEK4-U4-1, and my view wh

[2020-05-15 12:36] fourmatrix opened #84 "Why I got 403 error: 'CREATE is only allowed with static instance-based authorization'"
Hello,

I add authentication to my FooService and Books:

annotate FooService with @(requires: 'authenticated-user');
annotate FooService.Books with @(restrict: [
  {
    grant: ['READ', 'CREATE', 'WRITE', 'DELETE'],
    where: 'id = $user.id'
  }
]);

When create a Books, I got 403 error with message : 'CREATE is only allowed with static instance-based authorization' , how can I fix it?

[2020-05-15 12:46] pianocktail commented on #84
You cannot use CREATE and WRITE as it comprises 'INSERT' and on 'INSERT'  you cannot use where clauses.
You need your authorization only for READ , UPDATE , DELETE.
On the intial creation of the data record the 'id' should be set to the '$user.id' automatically

[2020-05-15 12:59] fourmatrix commented on #84
@pianocktail  I got it, thank you very much!

[2020-05-15 12:59] #84 closed

[2020-05-18 17:27] silasd23 opened #85 "error when deploying following openSAP-week3-unit5"
Hello everyone !

I'm having some troble whyle trying to run the example of week 3 unit 5 of open sap course
https://github.com/SAP-samples/cloud-cap-samples/tree/openSAP-week3-unit5
https://open.sap.com/courses/cp7/items/y6qAYiWpxGJqIpCYpwzn6

in the homepage i have this errors :
![image](https://user-images.githubusercontent.com/49450546/82241840-bb6c2f80-9934-11ea-8ae0-7ffdae3b002d.png)

in the

[2020-05-18 18:10] chgeo commented on #85
I think must of the errors is client-side stuff from UI5, which may be ignored.  For example, the `ServerInfos` requests are optional.
What is the actual perceived error that you get?  Which UIs do not work?

Also CCing @pianocktail, who is the expert for the unit.

[2020-05-18 18:12] chgeo commented on #76
Right, on the trial account service creation needs to happen with
`cf create-service hanatrial hdi-shared bookshop-db-hdi-container`

[2020-05-18 18:12] #76 closed

[2020-05-18 18:13] chgeo commented on #71
@harinigunabalan is this fixed?

[2020-05-18 18:16] chgeo commented on #83
Sorry, but I don't get what your are saying.
Yes, the files in the various branches of the repository are different.  This might explain the differences that you see.

[2020-05-18 18:16] #83 closed

[2020-05-18 18:19] chgeo commented on #53
`db.entities` issue was also reported in https://answers.sap.com/questions/13051405/cap-different-behavior-when-deploying-to-cf-and-ha.html

[2020-05-19 07:27] alteraugem commented on #71
I checked this once more but still the app doesn't display the images correctly due to CORB (Chrome v81)

[2020-05-20 07:05] pianocktail commented on #85
The only reason for having the "app" in the CF deployment in the example is to show how the approuter is doing the redirection to XSUAA and getting a JWT token.  Testing the authorizations is much easier to be done locally. This is also what is shown in the demos.

[2020-05-20 10:19] silasd23 commented on #85
Yes I know but my problem is that after following all the steps to deploy to Cloud and I execute the command bellow I get errors in the files generated:
![image](https://user-images.githubusercontent.com/49450546/82434500-d5b82180-9a8a-11ea-9898-7a29543f24f4.png)

Follow evidence:
![image](https://user-images.githubusercontent.com/49450546/82434857-6262df80-9a8b-11ea-93b9-4b991794a2da.png)

If I d

[2020-05-20 13:19] harinigunabalan commented on #71
@alteraugem and @chgeo - I fixed the image paths to reuse them from the app folder. Can you check it out now?

[2020-05-23 16:23] alteraugem commented on #71
okay, it works. Thank you.

[2020-05-23 16:40] alteraugem commented on #71
Pictures now do display correctly. However, just recognized that the "odata.draft.enabled" annotation is missing. This is why creation of new products fails!

[2020-05-24 14:27] gregorwolf commented on #53
I was able to fix this issue for the local run with sqlite by adding:

"model": "db"

to the cds.requires.db section in the package.json

[2020-05-24 23:19] boghyon opened #86 "Doc Feedback: Can't navigate back from search results"
1. Open https://cap.cloud.sap/
2. Click on the search button (top right) and enter something
3. Try to navigate back

[2020-05-25 06:38] renejeglinsky commented on #86
Good morning,

did you try clicking the search button again? It closes the search and your are back where you've been before.

Regards,
René

[2020-05-25 07:19] boghyon commented on #86
Thanks! Clicking on the button again works. Since the search results covered the whole page, it looked like I was being navigated to another page, just without changing the browser history / URL.

[2020-05-26 13:44] robertopini opened #87 "Handler for GET request"
Let's suppose i want to create a static helloworld service, which should simply return a string when called. Am i forced to define a function ?

Another way to see the problem:
[code]

How do i register an handler (let's suppose i'm using node)  in this case for the "GET /helloworld" request ? Is it possibile ?

[2020-05-28 12:59] chrishanusch opened #88 "Tree Table, oData v2"
Hello,
we want to create a TreeTable using oData v2. Our CDS entities look like this:

agreements > licenses > positions.

The agreements are loaded on a detail page while licenses and positions should be loaded within a TreeTable as parent and children nodes ( https://openui5.hana.ondemand.com/entity/sap.ui.table.TreeTable/sample/sap.ui.table.sample.TreeTable.BasicODataTreeBinding/code/localServi

[2020-05-29 11:22] octavonu opened #89 "Any plans for CAP on deno? :)"

[2020-05-29 12:44] chgeo commented on #89
Not clear what this means.

[2020-05-29 12:44] #89 closed

[2020-05-29 13:06] danjoa commented on #89
This is Deno: https://deno.land
We watch it of course and will have closer looks

[2020-05-29 15:33] boghyon commented on #86
@renejeglinsky I still believe that the search result should get its own history entry. After clicking on one of the search results, how do you go back to the results?

The main problem is that the result page covers the whole document, imitating a page navigation. But there was no navigation which is quite confusing.

It would be nice if this issue could be addressed internally.

[2020-06-03 05:55] sbarzaghialteaup commented on #63
Hi, news?

[2020-06-03 15:04] Nandanchaturvedi opened #92 "Not able to create using Fiori draft."
I have created a project with Fiori draft enabling but getting the following error while clicking create on the Fiori tile.

[2020-06-03T14:50:43.070Z | ERROR | 1894620]: Cannot convert undefined or null to object
[INTERNAL ERROR] TypeError: Cannot convert undefined or null to object
    at removeDraftUUID (C:\Users\i077624\OneDrive - SAP SE\DSP\CAP Learning\DSPPortal\node_modules\@sap\cds-runtime

[2020-06-03 15:10] Nandanchaturvedi opened #93 "Issue with Many-to-many association."
I have created a many-to-many association as described here:
https://cap.cloud.sap/docs/guides/domain-models#managed-many-to-many-associations

However, while creating the entity, as it would be a deep insert, I get the following error:

**"message": "Error while deserializing payload. 'contacts' does not exist in type 'DSPPfgService.PfgRequests'."**

[2020-06-03 15:11] Nandanchaturvedi commented on #93
This is how i tried creating the entity

{
            "ID": 1001,
            "title": "API Created",
            	"customer_ID":90002,

            "contacts":[
				{
				"contact_ID" : 2
				},
				{
				"contact_ID" : 1
				}
			]
		}

[2020-06-04 14:43] Nandanchaturvedi opened #94 "Many-many association example"
Hi colleagues

I request you to provide a working example showing many-many relation in CAP. This seems to be a fundamental requirement for any business application and I dont see any documentation describing it for reference.

Request you to share.

[2020-06-04 18:59] renejeglinsky commented on #86
We'll evaluate it. You'll see it in our release notes as soon as we've implemented it.

https://cap.cloud.sap/docs/releases/

[2020-06-05 07:18] David-Kunz commented on #94
Hi @Nandanchaturvedi ,

Please refer to the documentation: https://cap.cloud.sap/docs/guides/domain-models#managed-many-to-many-associations

Best regards,
David

[2020-06-06 16:28] hschaefer123 opened #95 "fiori sample (sap.fe) is no more working with sapui5 1.78"
With the latest sapui5, the fiori sample is no more working!

As a workaround, add sap.fe.templates to required libs
[code]
Also in each app component manifest replace dependecy sa.fe to
[code]
because with 1.78 a deprecated dialog will be shown for sap.fe.
sap.fe.template internally requires sap.fe.core and sap.fe.macros so this seems to be the new core ref.

Maybe you can create a ticket for the

[2020-06-08 12:29] johannes-vogel commented on #63
@sbarzaghialteaup Please bear with us. We are working on it.

[2020-06-08 15:02] hmpbmp opened #96 "UUID OData v2 adapter proxy"
Hello,

I have entity with UUID key (with @odata.type: string) that I provide in OData and I use v2 adapter to work with smart sapui5 controls.
When I call entity set using v2 it works perfectly but when I call entity by key /Entity(guid'XXXXXXXXX') as it supposed to be by v2 standard, the adapter doesn't handle it. But removing 'guid' part works.

Can you please help with how I should define this

[2020-06-11 09:24] Nandanchaturvedi commented on #94
Hi @David-Kunz ,

I would request if there is an example which you can share. I referred the documentation but facing some issues as I opened another issue in the Github earlier for the same.

Do you have a repo showing working example with many-many

[2020-06-11 12:24] d023604 opened #97 "Documentation cds compile --to cdl"
I notice that the documentation shown after entering  `cds compile ?` does not list cdl as a target format for the `-2 | --to` option. `--to cdl` is however shown under in the examples section of the displayed help and does appear to produce a valid cdl when an appropriate csn file is provided.

In my use case, I was starting with an external edmx. I imported using `cds import` to produce csn, the

[2020-06-12 00:33] Nandanchaturvedi commented on #93
While I try to make all IDs Guid, I get the following error:

{
    "error": {
        "code": "400",
        "message": "Deep insert with to-many Associations is not allowed"
    }
}

This is how the model looks like:

entity PfgRequests : managed, cuid {
  contacts                      :   Association to many PfgContacts on contacts.pfgRequest = $self;
}
entity Contacts : cuid {
  pfgRequests

[2020-06-12 07:12] David-Kunz commented on #94
HI @Nandanchaturvedi ,

Unfortunately, I don't have a concrete example, but did you try the example from the documentation?

[code]

Best regards,
David

[2020-06-12 08:00] Nandanchaturvedi commented on #94
Hi @David-Kunz ,

Yes, I did try this but not sure how this would work in the context of creation and in Fiori.

Following is the error I get if I try the deep insert.
While I try to make all IDs Guid, I get the following error:

{
"error": {
"code": "400",
"message": "Deep insert with to-many Associations is not allowed"
}
}

This is how the model looks like:

entity PfgRequests : managed, cuid {

[2020-06-12 08:38] David-Kunz commented on #94
Hi @Nandanchaturvedi ,

It's not allowed to deep insert too many associations.

You need to do the posts on each entity.

Best regards,
David

[2020-06-12 12:23] krisho007 opened #99 "Need an example on how to add a 'Fiori Launchpad Site' module"
If I need to add my CAP app with a Fiori UI to an SCP FLP, CAP app needs a 'Fiori Launchpad Site' module. This does not seem to be straight forward.
An example on how to do this would be great.

[2020-06-15 16:03] babuilyas opened #100 "other db option."
I embrace the new standard but wonders what if I want to use other db like oracle, mssql or other than sqlite/hana. I hope and know this is very common question for many.

[2020-06-15 16:06] babuilyas commented on #100
century! :)

[2020-06-17 13:24] chgeo commented on #95
This seems to be handled in PR #98

[2020-06-17 13:40] chgeo commented on #86
We are about to provide this.  Should be available w/ the next release soon.

[2020-06-18 11:56] chgeo commented on #97
Thanks for bringing this up.  The sample help for the `cdl` transformation should actually not have shown up at all.  Reason is that `--to cdl` renders way too technical stuff at the moment (e.g. HANA specifics).  In the next major version it's actually not included anymore, until we have cleaned it up.

May I ask why you need it?  Is it for making the imported service 'legible'?

[2020-06-18 15:19] #95 closed

[2020-06-19 20:20] iwonahahn commented on #86
@boghyon We have good news for you. The search is now stored in browser history. This way, you can come back to the search list after you have navigated to the results. Also, you can now bookmark and share your search. Just copy the .../search?q=... URL from your browser address bar. I hope this helps and the issue is resolved?

[2020-06-19 21:15] boghyon commented on #86
Awesome! Yes, I just tested it. Works great! Thank you so much for responding quickly and enhancing the doc. 👍

[2020-06-19 21:15] #86 closed

[2020-06-21 08:48] gregorwolf commented on #100
Please check out [CAP integration with PostgreSQL database](https://answers.sap.com/questions/13078147/cap-integration-with-postgresql-database.html) and follow [Create PostgreSQL adapter #88](https://github.com/sapmentors/cap-community/issues/88)

[2020-06-24 10:08] #100 closed

[2020-06-24 15:31] chgeo commented on #96
@oklemenz or @oklemenz2 can you help here?

[2020-06-24 15:31] #94 closed

[2020-06-24 15:32] chgeo commented on #93
Seems to be duplicate of #94

[2020-06-24 15:32] #93 closed

[2020-06-24 15:33] chgeo commented on #92
@David-Kunz @johannes-vogel can you help here?

[2020-06-24 15:37] chgeo commented on #88
May you ask this again over on our [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce)?  There is a higher chance there that you will get answers or hints.
Thanks.

[2020-06-24 15:37] #88 closed

[2020-06-24 15:39] chgeo commented on #87
@David-Kunz do you see a way to achieve this?
Alternatively, one might go with `/hello/world`.

[2020-06-24 15:48] chgeo commented on #85
The error above in the editor can be ignored.  That's a glitch in the editor.

For the missing data, how have you verified this?  Troubleshooting tips:
- Check in the HANA tables.
- If this is fine, check the pure odata request like `/catalog/Books`.
- If this is working, only check from the UI.  Do you see columns in the table?  If not, this indicates no `UI.LineItems` annotations being present.

[2020-06-24 15:48] David-Kunz commented on #92
Hi @Nandanchaturvedi ,

Can you give us more insights?

- Link to your repository
- Which cds version

Thanks and best regards,
David

[2020-06-24 15:49] chgeo commented on #71
@harinigunabalan can you check on the draft annotation?

[2020-06-24 15:51] David-Kunz commented on #87
Hi @robertopini ,

Yes, you're forced to write a function.

We only support handlers for actions, functions and entities. Not for services themselves.

Best regards,
David

[2020-06-24 15:53] chgeo commented on #65
@erleweint can you check with Fiori people here?

[2020-06-24 15:55] chgeo commented on #99
Thanks.
Please post this question over in the [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce) where there is a higher chance that someone can answer it.

[2020-06-24 15:55] #99 closed

[2020-06-24 15:56] #87 closed

[2020-06-25 07:40] oklemenz2 commented on #96
Hello Semyon,

Can you try the latest version of CDS OData v2 Adapter Proxy 1.4.36:
https://www.npmjs.com/package/@sap/cds-odata-v2-adapter-proxy

If the issue then still persists, I would need more information on your project.

`guid'05db01e5-28e6-4668-9fdb-7da666c2eec8'` is the correct way to pass a UUID in OData v2...
The CDS OData v2 Adapter Proxy then converts this to the UUID format in OData

[2020-06-25 07:54] harinigunabalan commented on #71
@alteraugem  - Thanks for the feedback. This is a snapshot of the code at the beginning of the unit and the idea is that the participants learn about the odata.draft.enabled annotation in the unit and add it by themselves. Hope this clarifies things for you.

[2020-06-25 07:54] #71 closed

[2020-06-25 16:45] hmpbmp commented on #96
Hello Oliver,

I've tried to install 1.4.36 version using `npm install @sap/cds-odata-v2-adapter-proxy@1.4.36` but it shows that no such version available.
The best I managed to do is 1.4.33.

So I tried to access following URLs:
1) http://localhost:4004/TemplateContent/Templates('0a71e12e-03ff-4b7c-9985-44425dbba620') - v4, success
2) http://localhost:4004/v2/TemplateContent/Templates('0a71e12e-0

[2020-06-25 18:29] oklemenz2 commented on #96
To use version 1.4.36 you have to set NPM registry to https://registry.npmjs.org/. But version 1.4.33 just also be ok.

That's really strange. I see in the logs, that the proxy request is correct:
[code]

Strangely, you get the OData V4 error message
[code]

When I try it on my side, this request works.

And even more strangely the v4 request, that you said work for as well
[code]
should not be va

[2020-06-26 07:00] hrennau opened #105 "/cds/cxn#operators - inconsistent description of "(" ")""
https://cap.cloud.sap/docs/cds/cxn#operators

The text says:
"Parts enclosed in parentheses are represented as nested {xpr:...}"
However, the example given does not fit:

cds.parse.expr(`x<9 and (y=1 or z=2)`)  ==//> returns:
{xpr:[
  {ref:['x']}, '<', {val:9}, 'and', '(',
    {ref:['y']}, '=', {val:1}, 'or', {ref:['z']}, '=', {val:2}
  ')'
]}

Note the "(" and ")" - there should be {xpr:[...]} in

[2020-06-26 07:52] hmpbmp commented on #96
Hello Oliver,

@sap/cds - 3.34.2
@sap/odata-server. - 1.7.1

I think that quotes are coming from the fact that we use GUID like this:
[code]

Without the annotation, I managed to get behavior as you described.
I was following this part of documentation: [cap-uuids-odata](https://cap.cloud.sap/docs/guides/domain-models#mapping-uuids-to-odata) and it suggests to have this key as a string.
What is th

[2020-06-26 08:04] oklemenz2 commented on #96
Thanks for your investigation.

From my point of view `@odata.Type : 'Edm.String'` is not needed for Node.js stack. As far as I remember this was introduced for the Java v2 stack, that made assumption of what a UUID is (Java has an own type UUID). In Node.js world, UUID is already a string, therefore I would prefer that the key is typed with UUID without `@odata.Type : 'Edm.String'.

Then you can

[2020-06-26 10:13] simfer opened #106 "Mashup in DKOM branch is not wokring"
Hi,
I cloned this repository and switched to the DKOM branch.
I opened the project with VSCode and selected the req.http file.
When I try to run the GET Orders expanding on shippingAddress I get the "Unauthorized" error

![01](https://user-images.githubusercontent.com/6877529/85846465-261b5100-b7a6-11ea-8d9a-1baf8aa00c90.png)

then, if I try by using only the "ALICE" user without password, I get "

[2020-06-26 11:02] hmpbmp opened #107 "Fuzzy search in custom handler"
Hello,

Please kindly provide any information on how I can use HANA fuzzy search in CDS.
I've checked (cap-fuzzy-search)[https://github.com/JoseMunozHerrera/cap-fuzzy-search/] and it is using the $search option in OData but it seems that starting from March 2020 it is converted to LIKE statement and doesn't handle function other than CONTAINS and CONCAT.
Is there a way to use FUZZY with CQL or CQN

[2020-06-29 06:58] chgeo commented on #106
@David-Kunz can you check this?  Is the code in the branch still up to date?

[2020-06-29 07:41] David-Kunz commented on #106
Hi @simfer ,

This branch is not up-to-date and not meant for public consumption.

Best regards,
David

[2020-06-29 13:33] oklemenz2 commented on #96
FYI:
Version 1.4.37 of https://www.npmjs.com/package/@sap/cds-odata-v2-adapter-proxy now also supports:
`@odata.Type : 'Edm.String'`, in case you would like to use it.

[2020-06-30 12:25] chgeo commented on #105
Thanks for bringing this up.  We will fix this in the next release of the documentation.

[2020-06-30 12:25] #105 closed

[2020-06-30 12:26] chgeo commented on #96
Closing, assuming the issue is addressed.

[2020-06-30 12:26] #96 closed

[2020-06-30 12:27] chgeo commented on #106
For service consumption, please refer to this branch:

https://github.com/SAP-samples/cloud-cap-samples/tree/openSAP-week4-unit3-final

[2020-06-30 12:27] #106 closed

[2020-06-30 12:32] chgeo commented on #85
This issue channel will be closed.  If the error persists, please report it in our [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce).

[2020-06-30 12:32] #85 closed

[2020-06-30 12:33] chgeo commented on #92
This issue channel will be closed.  If the error persists, please report it in our [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce).

[2020-06-30 12:33] #92 closed

[2020-06-30 12:35] chgeo commented on #107
This issue channel will be closed soon.  If the error persists, please report it in our [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce).

[2020-06-30 12:35] #107 closed

[2020-07-01 08:59] hrennau opened #108 "/cds/csn - no mention of the "includes" keyword"
https://cap.cloud.sap/docs/cds/csn -

this documentation does not mention the "includes" keyword, which may occur in CSN documents obtained from the cds command-line tool. Note also that the cdl documentation contains a CSN snippet containing "includes" (example: "contexts.json").

[2020-07-01 10:13] bugwelle commented on #108
Thanks for bringing this up. We will update the documentation accordingly.

To put it short: `includes` is used for extending entities. For example, take this CDL file:

[code]
This will produce following CSN:

[code]

`definitions.E.includes` is an array of e.g. entity names that shall be used to extend the entity. In this case, entity `E` inherits all elements from `A`. If you write the CSN by h

[2020-07-01 10:27] hrennau commented on #108
Thank you, Andre, for this neat explanation! Which seems to confirm what I thought: the values of "includes" MUST be the names of entities in scope.

[2020-07-09 13:26] vkozyura commented on #63
@sbarzaghialteaup: We implemented navigation using association from draft to active entity. Fix to be provided with the next release.

[2020-07-09 13:26] #63 closed

[2020-07-11 16:07] kachrafaltu opened #112 "Creation of new Order using the fiori app shows a popup box for ID"
This issue was also reported by another user in the community and I have upvoted it since I have the same issue.
https://answers.sap.com/questions/13091274/sample-fiori-app-creating-a-new-order-shows-a-popu.html
I have the latest version of the CDS registry and have changed the registry to point to the npmjs registry as required by June release. I am suspecting this issue is a result of the bugfix

[2020-07-12 15:18] sbarzaghialteaup commented on #112
I hope this can help:

The popup seems a new behaviour in sapui5 from 1.79.0, sapui5 fe now during a document creation shows a popup with all the not computed and visible key fields:

(https://sapui5.hana.ondemand.com/1.79.0/resources/sap/fe/core/TransactionHelper-dbg.js?eval line 259).

[code]

CDS aspect "cuid" define the field key "ID" without the annotation "@Core.Computed".

I tried to add "@

[2020-07-13 13:42] chgeo commented on #112
We want to close this issues channel soon, in favor of our [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce).  Can you raise the question there, or use the existing question linked above?

Thanks,
Christian

[2020-07-13 13:42] #112 closed

[2020-07-31 02:08] d023604 commented on #97
Hi Christian,
Sorry for the delay in response - your message was hidden in a deluge of other github correspondence.
**Why was using cds compile --to cdl?** My primary objective was to take an external EDMX and use the entities and associations in it as a basis for a standalone application in CAP. The intention was not to consume the external service itself - the service wasn't available for consum

[2020-07-31 02:24] danjoa commented on #97
`cds compile -2 cdl` was undocumented by intend nobody should ever have used it / rely on its output.
It's actually not available in upcoming release

[2020-08-07 15:17] emanuelParicon opened #124 "confusing error Message if a function is called the wrong way"
hi,

I noticed that the Error messages while trying to call an Function import are a little bit confusing,
cause if I call a Function import without Parameters the Response tells me that the function for the function import cannot be found.

I tried the following requests by cloning this repository and starting the hello and the bookshop example with
[code]
[code]
[code]
If I try to Call an Action

[2020-08-17 11:23] chgeo commented on #108
Documentation has been updated: https://cap.cloud.sap/docs/cds/csn#structured-types

[2020-08-17 11:23] #108 closed

[2020-08-25 13:00] #97 closed

[2020-08-31 13:22] BenReim opened #131 "OData V4 Lambda expression raises sqlite error"
When running the bookshop sample and querying a HTTP call that contains a lambda expressions according to the odata specification, a sql error is being thrown.

**Request**
[code]

**Response**
[code]

[2020-08-31 14:06] chgeo commented on #124
@AnneKeller01 can you take this?

[2020-09-01 12:41] AnneKeller01 commented on #124
We are currently improving our messages and will look into this also. @emanuelParicon, thanks for opening the issue.

[2020-09-03 03:50] fourmatrix opened #132 "Failed to insert mockup data"
Refer to  tutorial https://developers.sap.com/tutorials/cap-cloudsdk-1-mock-service.html,

I tried to mock hana service, but I change the location and content of server.js, I moved server.js to ./srv folder, and use 'served' event callback to insert mockup data, if failed with error:

[ERROR] SQLITE_ERROR: no such table: API_BUSINESS_PARTNER_A_BusinessPartnerAddressType

![Snip20200903_14](https:/

[2020-09-03 10:25] Vest commented on #131
It seems that CAP doesn't create a correct SQL request. Your example can be simplified to
[code]
the generated SQL will be:
[code]
The syntax error is right after WHERE --> **any** is unknown to the DB.

By the way, it is funny, but you can even crash the process if you play with the requests.

[2020-09-03 12:39] chgeo commented on #53
The issue with the ../common dependency is fixed with the latest `@sap/cds-dk` 3.0.0.
`cds build` now removes such file dependencies in the generated `gen/srv/package.json`.

[2020-09-03 12:40] chgeo commented on #53
Also, with latest `@sap/cds` 4.1.9, the disfunctional `cds.entities` is fixed.

[2020-09-03 12:40] #53 closed

[2020-09-03 12:44] chgeo commented on #132
Hey.. thanks for reporting.  We want to close down this issue channel, so please report the question over on the [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce).
Thanks.

[2020-09-03 12:44] #132 closed

[2020-09-03 12:46] chgeo commented on #131
@David-Kunz can you check this?

@BenReim we would like to close down this issue channel.  Please report further questions over on our [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce).
Thanks.

[2020-09-03 13:25] David-Kunz commented on #131
Hi @Vest,

Currently, we only support `any` for SAP HANA, but it's planned to support it also for SQLite.

In development mode, we always crash the server if something fishy happens. Otherwise we wouldn't notice! ([let it crash](http://stratus3d.com/blog/2020/01/20/applying-the-let-it-crash-philosophy-outside-erlang/#:~:text=Erlang%20is%20known%20for%20its,are%20fault%20tolerant%20and%20reliable.&

[2020-09-15 11:23] HarshalRN opened #134 "post requests to CAPM service deployed on CF"
I am trying to perform post request to CAPM service via postman but getting error while posting .

I tried to post using  SAP Business studio it is working fine over there but if i try to do post from postman it is not working.

Postman post request:
![image](https://user-images.githubusercontent.com/71324807/93204541-e431f380-f773-11ea-80c3-997fe1462222.png)

BAS post request:
![image](https://us

[2020-09-16 10:00] chgeo commented on #134
We are about to close this channel.  Please use our [community](https://cap.cloud.sap/docs/ask-question-vscode).
Thanks.

[2020-09-16 10:00] #134 closed

[2020-09-17 14:08] chgeo commented on #131
Closing this issue as we want to shut down this issue channel.  Please report further questions over on our community.
Thanks.

[2020-09-17 14:08] #131 closed

[2020-10-07 06:17] chgeo commented on #47
Also see the discussion in the [community](https://answers.sap.com/questions/13156774/will-all-hana-db-data-be-erased-at-every-deploymen.html)

[2020-10-07 06:30] pdominique commented on #47
This would indeed be better than importing data through the db explorer.

[2020-10-29 12:21] pandayo opened #154 "openSAP-week2-unit4567: POST request in orders.http fails"
I issue this as an issue as one is advised to checkout the branch from here when taking the course yet the branch is not working as intended.

When running the following:
[code]

I receive this stacktrace:
Error stacktrace: Error: Cannot build SQL. Invalid CQN object provided: undefined, ()=> orderItems.map (item =>     UPDATE (Books)       .set ('stock -=', item.amount)       .where ('ID =', item

[2020-10-29 14:13] chgeo commented on #154
Thanks for reaching out.  Will take a look when we update the course materials.

Please note that we are about to close this issue channel in favor of the our [community](https://community.sap.com/topics/cloud-application-programming).

[2020-10-29 14:13] #154 closed

[2020-11-10 11:59] sammok83 opened #161 "Error executing cds deploy -2 hana"
@chgeo

​Based on the sample here:

https://github.com/SAP-samples/cloud-cap-samples/tree/openSAP-week2-unit4567

When i did as per the instructions and deploy, I got the error:
Connecting to the container "3DB18AFD7A924A7E95853D9269B07261"... Deployment to container 3DB18AFD7A924A7E95853D9269B07261 failed - error: Could not connect to any host: [ 9357d90a-4543-497a-a574-d15c2a223feb.hana.trial-us

[2020-11-10 12:56] chgeo commented on #161
Thanks for reporting, but this issue channel is actually closed.
Please post the issue over in the [SAP Community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce), where a lot more folks are listening.

[2020-11-10 12:56] #161 closed

[2020-11-12 10:53] Edibe opened #163 "Bookshop"

[2020-11-12 16:07] #163 closed

[2020-11-17 10:47] ghiblin opened #165 "Annotation with absolute path"
Fiori Elements does not support native user authorization, so I created an OData Singleton with odata singleton annotation.
[code]
I'd like to use Capabilities annotiations to hide and show CRUD buttons on List Report/Object pages, as I can config the annotation to use an absolute value
[code]
or I can use a path
[code]

I'd like to combine the two solution:
[code]

Is this possible with cds?

Tha

[2020-11-17 14:08] chgeo commented on #165
Hey.. we have moved the support channel to the [SAP Community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce).  Please file your question there.

[2020-11-17 14:08] #165 closed

[2020-11-23 09:07] lirudayam commented on #65
Is there any answer? I also have this null issue

[2020-11-24 09:07] drktfl commented on #65
Hi,

we are looking into this.

In the last example of @sbarzaghialteaup, the `odata.fillUriTemplate` / `odata.uriEncode` might not be necessary, though. The URI template there is `{url}`, so it basically replaces everything with the value from the `url` property. You should thus be able to simplify that complex annotation to:

[code]

Hope this helps while we are working on a full solution.

Rega

[2020-11-25 18:10] sstadelman commented on #154
@chgeo that might be unfortunate--the search capabilities in the Community site are quite inferior to GitHub.  I encountered the same issue reported above; I am wondering if it is because I switched branches and corrupted the db.

[code]

[2020-12-21 08:56] sbarzaghialteaup commented on #65
Hi @drktfl,

I confirm, your code is enough:
[code]
`description` field contains: `https://www.google.com`:
![image](https://user-images.githubusercontent.com/51169423/102758241-beb81580-4372-11eb-9e73-a30dbf8c4332.png)

Thank you

Regards,
Sam

[2020-12-21 08:56] #65 closed

[2021-02-25 15:52] ivanlynch opened #203 "[ERROR] ENTITY_ALREADY_EXISTS"
Hi guys,

I've created a sample project and i can't find any place to ask about it. How can i solve: [ERROR] ENTITY_ALREADY_EXISTS the problem comes up when i modify data from the model.

Regards,

[2021-02-25 16:43] chgeo commented on #203
Hi,

just take a look at our [support channels](https://cap.cloud.sap/docs/resources/).  The [SAP Community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce) seems to be the right place for such questions.
There, please be more specific on your issue.  What have you done, how can one reproduce it?  If there are error logs, add the whole log, not just one line.

Thanks,
Christian

[2021-02-25 16:43] #203 closed

[2021-04-10 13:36] dusk-p opened #221 "Fiori App not deployed"
Hello,
I tried to deploy the full application (branch openSAP-week4-unit4) from Business Application Studio to my cloud foundry account but the app is missing. I think the reason is the missing configuration in the mta.yaml file. I was not able to find any example for the app deployment within the openSAP course examples for CAP. Could you enhance the mta.yaml file to enable also the deployment fo

[2021-04-12 07:00] chgeo commented on #221
Thanks for reaching out.  We are working on more CAP examples which would also include CF deployment.
In the meantime, you can find us on the [SAP Community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce), which is the preferred support channel as it involves more experts.
This is why I am closing this ticket here.

[2021-04-12 07:00] #221 closed

[2021-04-22 01:45] RJ1211 opened #224 ""npm install" command is giving error in SAP Business Application Studio"
Hi Team,

I am trying to learn the CAP course from "https://open.sap.com/courses/cp7/items/5QKEq8Yz5ZcCticDU8KGAz",
and as per Week 1 Unit 4, it asked to follow the steps mentioned in GIT repository "https://github.com/SAP-samples/cloud-cap-samples/tree/openSAP-week1-unit4-final".

But when i run the command "npm install", it gives me error. I have attached the log of the run as well.
[Log for NPM

[2021-04-22 05:45] gregorwolf commented on #224
Have you tried running your app afterwards? I also see this issue quite often in BAS but it didn't affect the functionality.

[2021-04-22 07:09] chgeo commented on #224
Hey, thanks for reaching out.  We want to close this issue channel.  Please use the [SAP community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce) instead.  There is just more people listening there.

[2021-04-22 07:09] #224 closed

[2021-04-29 01:30] RJ1211 commented on #154
Hi Everyone,

I have encountered the same issue - result is as below - Can someone explain the issue or solution towards it (i am new to this whole CAP and JS, coming from ABAP background)

[cds] - POST /browse/Orders
[cds] - { Error: Cannot build SQL. Invalid CQN object provided: undefined
    at build (/local/npm/lib/node_modules/@sap/cds-dk/node_modules/@sap/cds-runtime/lib/db/sql-builder/sqlFa

[2021-05-21 01:56] toadslop commented on #69
I get the same warning from the CDS linter in VS Code even though I have CDS installed and if I run the app no errors occur. I have CDS installed globally, however. I suspect maybe the linter only looks in the local node_modules folder and reports the package can't be found if it's not located there. To test, installed CDS in the local project, but I found that the linter still reported that it wa

[2021-06-04 15:29] tsteckenborn opened #240 "Replaceable by a Managed Composition?"
Is this still a best practice or should it be replaced by a [managed composition](https://cap.cloud.sap/docs/cds/cdl#for-many-to-many-relationships)?

https://github.com/SAP-samples/cloud-cap-samples/blob/0dc1dc198d4126a8888c2b64f877950dfeca6d24/orders/db/schema.cds#L6

[2021-06-07 06:04] danjoa commented on #240
You are right. Actually that version was before we shipped managed compositions.
@stewsk we should address this when we do the Dreiklang things

[2021-06-07 06:41] tsteckenborn commented on #240
While adapting I would appreciate it if someone could take a look at whether he also has the same problem with the delivered ESLint configuration (https://answers.sap.com/questions/13399704/capcds-dkeslint-cds-compilation-failed-managed-com.html).

[2021-06-07 12:52] xtreemrage opened #241 "CDS service level unit test with restrict"
I have an issue with unit testing on cds service level testing and the `@restrict` annotation. If I turn this on, my unit test wont work (on a cds level testing, does work with odata level testing).

I have tried to add [dummy authentication](https://cap.cloud.sap/docs/node.js/authentication#dummy) for my test environment in the package.json file:

[code]

According to the docs, this should disabl

[2021-06-07 13:25] chgeo commented on #241
Thanks for reaching out.  Please use the [community](https://answers.sap.com/tags/9f13aee1-834c-4105-8e43-ee442775e5ce) to post these questions.

[2021-06-07 13:25] #241 closed

[2021-06-23 13:36] mcelotti opened #246 "Update the code to match the latest SAP HANA tools"
Hello,
I used this project to get started with the CAP framework as suggested here https://cap.cloud.sap/docs/resources/.
Then I used "cds add mta" to create a mta.yaml file to deploy to the cloud, but at this point I had multiple issues and I managed to fix some of them by taking a look at this post https://blogs.sap.com/2021/01/14/sap-business-application-studio-using-sap-hana-tools-with-sap-clo

[2021-06-23 13:45] chgeo commented on #246
Thanks for the info.  We know CDS projects need to work better w/ HANA tools (and vice versa).  We are working w/ HANA tools colleagues on this.  Stay tuned for updates in our [releases notes](https://cap.cloud.sap/docs/releases/).

[2021-06-23 13:45] #246 closed

[2021-08-03 06:14] gregorwolf opened #255 "Renaming the default branch to main"
Hello CAP Team,

I think we should follow the instructions at [Renaming the default branch from master](https://github.com/github/renaming) and rename to main.

Best regards
Gregor

[2021-08-07 10:12] Neden9000 opened #259 "HANA Deploy error in week 3 unit 5"
Hi the following bug was noted:
[code]

[2021-08-07 10:16] Neden9000 commented on #259
I could noit find sap.capire-bookshop_1.0.0.mtar

I tried rdeploying bookshop_1.0.0.mtar from bookshop rather than :
cf deploy sap.capire-bookshop_1.0.0.mtar

I thin got the errors above. Logs were generated in my trial instance

Thanks , Nick

[2021-09-08 14:08] chgeo commented on #259
This looks like low-level errors from HANA broker.  Nothing we from CAP can help you with I am afraid.
Hints
- Does the issue occur when you deploy other applications that make use of HANA
- Does the issue occur when you create and bind a HANA service manually (`cf create-service ...`, cf `bind-service ...`)

[2021-09-10 12:58] Lisi92 commented on #63
In some of our valuehelps, we provide not saved data to the user. It worked fine for a while but i think this change, changed this Select too. So we only get the isactiveentity = true data. Exists there a property or an other solution to control it?  Atm we overwrite it in the begin handler, its a fix but not a solution.

[2021-09-16 08:53] tsteckenborn commented on #240
@danjoa Is there anything that prevents this change? If not, I can submit a PR and replace the few occurrences myself.

[2021-09-17 11:14] danjoa commented on #240
I tried that recently and ran into two glitches which prevent us from really doing so → opened #273 now to follow up

[2021-11-08 16:41] #240 closed

[2021-11-11 15:19] iwonahahn commented on #255
Hi Gregor,

Renaming done.

Best regards,
Iwona

[2021-11-11 15:19] #255 closed

[2021-11-11 15:22] iwonahahn commented on #259
Hi @Neden9000,

We haven't heard from you in a while, so we are closing the issue. If you still have questions, feel free to open a new issue.

Best regards,
Iwona

[2021-11-11 15:22] #259 closed

[2021-11-11 15:24] iwonahahn commented on #124
Hi @emanuelParicon,

We haven't heard from you in a while, so we are closing the issue. If you still have questions, feel free to open a new issue.

Best regards,
Iwona

[2021-11-11 15:24] #124 closed

[2021-11-11 15:47] chgeo commented on #47
We are about to close this issue channel in favor of the SAP Community.
@iwonahahn FYI

For this topic about initial data: we have added it to our backlog and will work on it soon.  Will announce it in the [CAP release notes](https://cap.cloud.sap/docs/releases/).

Thanks.

[2021-11-11 15:47] #47 closed

[2022-06-14 02:25] sap-ospo-bot opened #363 "[rl-reuse_tool-2] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-reuse_tool-2
Explanation: Does it have LICENSES directory with licenses? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-06-14 02:25] sap-ospo-bot opened #364 "[rl-reuse_tool-4] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-reuse_tool-4
Explanation: Is it compliant with REUSE rules? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-06-27 11:16] chgeo commented on #364
Should be done w/ https://github.com/SAP-samples/cloud-cap-samples/commit/0e053f98f335045434ea8c4bfab06343f91c114a

[2022-06-27 11:16] chgeo commented on #363
Should be done w/ https://github.com/SAP-samples/cloud-cap-samples/commit/0e053f98f335045434ea8c4bfab06343f91c114a

[2022-10-24 06:23] 974758241 opened #416 "Data is only localized for `de` and `fr`"
当我设置 accept-language:zh 时候,并没有实现本地化操作!en,de,fr 都是正确的
![image](https://user-images.githubusercontent.com/24804009/197460737-a322e493-93f2-4a14-84aa-f65e768042f4.png)
![image](https://user-images.githubusercontent.com/24804009/197460804-acfe371c-c816-452d-9bae-1ff985263367.png)
所以我要怎么设置才能正确的显示本地化!

[2022-10-24 07:17] chgeo commented on #416
English please

[2022-10-24 07:21] 974758241 commented on #416
When I set accept-language:zh, I didn't localize! en,de,fr are all correct!
So how do I set up the correct display localization!

[2022-10-24 07:50] chgeo commented on #416
Assuming this is resolved.

[2022-10-24 07:50] #416 closed

[2022-11-02 00:42] alexlopez3102 opened #417 "cloud-cap-samples -b openSAP-week3-unit2"
I'm not able to test the project
After npm install and cds watch if I click on any webapp like
https://port4004-workspaces-ws-kxwrg.us10.trial.applicationstudio.cloud.sap/products/webapp/index.html
Empty tab is displayed no data no fields at all

[2022-11-02 07:54] chgeo commented on #417
Please provide step by step instructions to reproduce the issue.

[2022-11-02 08:23] gregorwolf commented on #417
I guess it's an issue with the current SAPUI5 1.107.0 version. With 1.107.1 the Launchpad Mock works again.

[2022-11-02 09:10] alexlopez3102 commented on #417
This is the complete log of npm install
[npm_install_log.txt](https://github.com/SAP-samples/cloud-cap-samples/files/9918752/npm_install_log.txt)

[2022-11-02 09:11] alexlopez3102 commented on #417
This is what I see when I click on products webapp
<img width="715" alt="Output Runing Products App" src="https://user-images.githubusercontent.com/117239914/199450169-1f03be9c-f77d-4deb-bb8e-1fc24ce2f916.png">

[2022-11-02 17:01] gregorwolf commented on #417
Have you checked the console output of the development tools?